node_modules
vendor
.git
.gitignore
.env
.env.backup
.env.production
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.md
!README.md

